# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

#  Hello world does not require these URLs
PORTAL_URL = http://localhost
RUNID_URL  = http://localhost

# ======================================================================
# ROOT LOCATION
# ======================================================================

#  Define the an environment variable for IPS base directory.
IPS_ROOT = $IPS_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = vmec
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a vmec test case.

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_VMEC_NAMELIST = input.current_state.vmec
CURRENT_VMEC_WOUT_FILE = wout_current_state.vmec.nc

PLASMA_STATE_FILES = $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER INIT VMEC

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = vmec_driver

    [[INIT]]
        IMPLEMENTATION = vmec_init

    [[VMEC]]
        IMPLEMENTATION = vmec

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[vmec_driver]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES =
    NAME = vmec_driver
    NPROC = 1
    BIN_PATH = $IPS_VMEC_COMP_PATH
    SCRIPT = $BIN_PATH/vmec_driver.py
    PLASMA_STATE_FILES = $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE
    OUTPUT_FILES = $CURRENT_VMEC_WOUT_FILE

[vmec_init]
    CLASS = workers
    SUB_CLASS =
    NAME = vmec_init
    NPROC = 1
    BIN_PATH = $IPS_VMEC_COMP_PATH
    SCRIPT = $BIN_PATH/vmec_init.py
    INPUT_FILES = input.test.vmec
    PLASMA_STATE_FILES = $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE
    OUTPUT_FILES =

[vmec]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = vmec
    NPROC = 4
    VMEC_EXE = $VMEC_INSTALL_PATH/$VMEC_INSTALL_NAME
    BIN_PATH = $IPS_VMEC_COMP_PATH
    SCRIPT = $BIN_PATH/vmec.py
    PLASMA_STATE_FILES = $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE
    OUTPUT_FILES =
