# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

#  Hello world does not require these URLs
PORTAL_URL = http://localhost
RUNID_URL  = http://localhost

# ======================================================================
# ROOT LOCATION
# ======================================================================

#  Define the an environment variable for IPS base directory.
IPS_ROOT = $IPS_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = vmec
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a vmec test case.

#  Change to "quiet" to hide output.
#  Change to "verbose" to show all output.
OUTPUT_LEVEL = quiet

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_VMEC_STATE = current_vmec_state.zip

STATE_FILES = $CURRENT_VMEC_STATE

# ======================================================================
# Input File SECTION
# ======================================================================

VMEC_NAMELIST_INPUT = input.test.vmec

# VMEC can be initialized from ether a namelist input or an existing plasma
# state. There is currently no error checking to ensure the input plasma state
# is a valid state.

USER_INPUT_FILES = $VMEC_NAMELIST_INPUT
#USER_INPUT_FILES = $CURRENT_VMEC_STATE

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER INIT VMEC

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = vmec_driver

    [[INIT]]
        IMPLEMENTATION = vmec_init

    [[VMEC]]
        IMPLEMENTATION = vmec

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[vmec_driver]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES =
    NAME = vmec_driver
    NPROC = 1
    BIN_PATH = $IPS_VMEC_COMP_PATH
    SCRIPT = $BIN_PATH/vmec_driver.py
    STATE_FILES = $CURRENT_VMEC_STATE
    OUTPUT_FILES = $CURRENT_VMEC_STATE

[vmec_init]
    CLASS = workers
    SUB_CLASS =
    NAME = vmec_init
    NPROC = 1
    BIN_PATH = $IPS_VMEC_COMP_PATH
    SCRIPT = $BIN_PATH/vmec_init.py
    INPUT_FILES = $USER_INPUT_FILES
    STATE_FILES = $CURRENT_VMEC_STATE
    OUTPUT_FILES =

[vmec]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = vmec
    NPROC = 1
    VMEC_EXE = $VMEC_INSTALL_PATH/$VMEC_INSTALL_NAME
    BIN_PATH = $IPS_VMEC_COMP_PATH
    SCRIPT = $BIN_PATH/vmec.py
    STATE_FILES = $CURRENT_VMEC_STATE
    OUTPUT_FILES =
