# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

#  Hello world does not require these URLs
PORTAL_URL = http://localhost
RUNID_URL  = http://localhost

# ======================================================================
# ROOT LOCATION
# ======================================================================

#  Define the an environment variable for IPS base directory.
IPS_ROOT = $IPS_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = cariddi
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a cariddi test case.

#  Change to "quiet" to hide output.
#  Change to "verbose" to show all output.
OUTPUT_LEVEL = quiet

NUMBER_OF_TIME_STEPS = 3

# ======================================================================
# STATE SECTION
# ======================================================================

STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_CARIDDI_STATE = current_cariddi_state.zip
CARIDDI_MATRIX_PATH = /Users/m4c/Research/CARIDDI/matrices3

MGRID_FILE = $CARIDDI_MATRIX_PATH/mgrid_simple_kp36.nc
CURRENT_VMEC_PROFILE = vmec_profile.json

CURRENT_VMEC_STATE = current_vmec_state.zip
CURRENT_SIESTA_STATE = current_siesta_state.zip
CURRENT_V3FIT_STATE = current_v3fit_state.zip

STATE_FILES = $CURRENT_CARIDDI_STATE

# ======================================================================
# Input File SECTION
# ======================================================================

#  VMEC Input can either be a namelist file or an existing state file.
VMEC_NAMELIST_INPUT = input.cariddi.vmec
SIESTA_NAMELIST_INPUT = input.cariddi.siesta
V3FIT_NAMELIST_INPUT = input.cariddi.v3fit

VMEC_INPUT_FILES = $VMEC_NAMELIST_INPUT
#VMEC_INPUT_FILES = $CURRENT_VMEC_STATE

SIESTA_INPUT_FILES = $SIESTA_NAMELIST_INPUT
#SIESTA_INPUT_FILES = $CURRENT_SIESTA_STATE

V3FIT_INPUT_FILES = $V3FIT_NAMELIST_INPUT
#V3FIT_INPUT_FILES = $CURRENT_V3FIT_STATE

#  CARIDDI Input can either be a input file or an existing state file.
CARIDDI_INPUT = J1.nc
CARIDDI_INPUT_FILES = $CARIDDI_INPUT
#CARIDDI_INPUT_FILES = $CURRENT_CARIDDI_STATE

USER_INPUT_FILES = $VMEC_INPUT_FILES $V3FIT_INPUT_FILES $CARIDDI_INPUT_FILES

USER_OUTPUT_FILES = $CURRENT_CARIDDI_STATE

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER INIT CARIDDI

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = cariddi_driver

    [[INIT]]
        IMPLEMENTATION = cariddi_init

    [[CARIDDI]]
        IMPLEMENTATION = cariddi

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[cariddi_driver]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES =
    NAME = cariddi_driver
    NPROC = 1
    BIN_PATH = $IPS_CARIDDI_COMP_PATH
    SCRIPT = $BIN_PATH/cariddi_driver.py
    STATE_FILES = $CURRENT_CARIDDI_STATE
    OUTPUT_FILES = $USER_OUTPUT_FILES

[cariddi_init]
    CLASS = workers
    SUB_CLASS =
    NAME = cariddi_init
    NPROC = 1
    BIN_PATH = $IPS_CARIDDI_COMP_PATH
    SCRIPT = $BIN_PATH/cariddi_init.py
    INPUT_FILES = $USER_INPUT_FILES
    STATE_FILES = $CURRENT_CARIDDI_STATE
    OUTPUT_FILES =

[cariddi]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = cariddi
    NPROC = 1
    SURFACE_EXE = $SURFACE_INSTALL_PATH/$SURFACE_INSTALL_NAME
    CARIDDI_BIN_EXE = "python3 $CARIDDI_INSTALL_PATH/$CARIDDI_BIN_INSTALL_NAME"
    CARIDDI_PRE_EXE = "python3 $CARIDDI_INSTALL_PATH/$CARIDDI_PRE_INSTALL_NAME"
    BIN_PATH = $IPS_CARIDDI_COMP_PATH
    SCRIPT = $BIN_PATH/cariddi.py
    STATE_FILES = $CURRENT_CARIDDI_STATE
    OUTPUT_FILES =
