# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = massive_parallel_runner
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a massive parallel test case.

#  Change to "quiet" to hide output.
#  Change to "verbose" to show all output.
OUTPUT_LEVEL = quiet
SAVE_LOGS = 1
USE_PORTAL = True

#  Size of batch to generate.
BATCH_SIZE = 32

# ======================================================================
# Constraint SECTION
# ======================================================================

#  Path and module for contrains
MODULE_PATH = $SYSTEM_CODE_INSTALL_ROOT/ml
MODULE_NAME = unconstrained

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_MSR_STATE = current_msr_state.zip

STATE_FILES = $CURRENT_MSR_STATE

# ======================================================================
# Input File SECTION
# ======================================================================

# Config and platform file for the massive parallel launcher.
MSR_GLOBAL_CONFIG = ips_massive_parallel.config
MSR_SERIAL_STATE = massive_parallel_state.zip
MSR_NNODES = 1

# Config file for the massive parallel workflow model.
MSR_MODEL_CONFIG = fastran_modeleq.config

# New Batch of inputs to the run the massive parallel workflow on.
CURRENT_BATCH = new_data.json

# Config file to convert the massive parallel output to a database file.
DATABASE_CONFIG = makedb.json

# Config file for inital random sampling of the input parameter space.
INSCAN_CONFIG = sample.json

# Inputs can either be specified as a previuos state file, or individual input
# files.
USER_INPUT_FILES = $DATABASE_CONFIG $INSCAN_CONFIG $MSR_GLOBAL_CONFIG $MSR_SERIAL_STATE
#USER_INPUT_FILES = $CURRENT_MSR_STATE

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER INIT MSR

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = massive_parallel_runner_driver

    [[INIT]]
        IMPLEMENTATION = massive_parallel_runner_init

    [[MSR]]
        IMPLEMENTATION = massive_parallel_runner

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[massive_parallel_runner_driver]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES =
    NAME = massive_parallel_runner_driver
    NPROC = 1
    BIN_PATH =
    SCRIPT =
    MODULE = massive_parallel_runner.massive_parallel_runner_driver
    STATE_FILES = $CURRENT_MSR_STATE
    OUTPUT_FILES = $CURRENT_MSR_STATE

[massive_parallel_runner_init]
    CLASS = workers
    SUB_CLASS =
    NAME = massive_parallel_runner_init
    NPROC = 1
    BIN_PATH =
    SCRIPT =
    MODULE = massive_parallel_runner.massive_parallel_runner_init
    INPUT_FILES = $USER_INPUT_FILES
    STATE_FILES = $CURRENT_MSR_STATE
    OUTPUT_FILES =
    SAMPLE_EXE = $SAMPLE_INSTALL_NAME

[massive_parallel_runner]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = massive_parallel_runner
    NPROC = 1
    BIN_PATH =
    SCRIPT =
    MODULE = massive_parallel_runner.massive_parallel_runner
    STATE_FILES = $CURRENT_MSR_STATE
    OUTPUT_FILES = $CURRENT_BATCH
    MAKE_DATABASE_EXE = $MAKE_DATABASE_INSTALL_NAME
    TO_JSON_EXE = $PYTHON $TO_JSON_INSTALL_PATH/$TO_JSON_INSTALL_NAME
