# ======================================================================
# TEMPLATE FOR IPS_MASSIVE_PARALLEL

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = ips_massive_parallel

SIM_NAME = ${RUN_ID}

OUTPUT_PREFIX = 
LOG_FILE = ${RUN_ID}.log
LOG_LEVEL = DEBUG

SIM_ROOT = ${PWD}/RUN
INPUT_DIR_SIM = ${PWD}
OUTPUT_DIR_SIM = output

RUN_COMMENT = massive parallel
TAG = 

SIMULATION_MODE = NORMAL

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = ${SIM_ROOT}/work/plasma_state

STATE_FILES =   

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER 
    POSTS = 

    [[INIT]]
        IMPLEMENTATION = dummy_init 

    [[DRIVER]]
        IMPLEMENTATION = ips_massive_parallel

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[dummy_init]
    CLASS = fastran
    SUB_CLASS = 
    NAME = dummy_init
    NPROC = 1
    INPUT_DIR =
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = 
    MODULE = fastran.dummy.dummy_init

[ips_massive_parallel]
    CLASS = fastran
    SUB_CLASS =
    NAME = ips_massive_parallel
    MODULE = fastran.driver.ips_massive_parallel
    SCRIPT = 
    BIN_PATH = 
    BIN =
    NPROC =
    DASK_NODES = ${SLURM_NODES}
    INPUT_DIR = ${INPUT_DIR_SIM}
    SIMULATION = fastran_modeleq.config
    INSCAN = inscan
    INPUT_FILES = ${SIMULATION} ${INSCAN}
    SUMMARY = ${OUTPUT_DIR_SIM}
    ARCHIVE_FILES =
    OUTPUT_FILES =
    RESTART_FILE =
    CLEAN_AFTER = 0
    TIME_OUT = 3600
    TMPXFS = /tmp
    TASK_PPN = 128
    TASK_NPROC = 1

