# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

#  Hello world does not require these URLs
PORTAL_URL = http://localhost
RUNID_URL  = http://localhost

# ======================================================================
# ROOT LOCATION
# ======================================================================

#  Define the an environment variable for IPS base directory.
IPS_ROOT = $IPS_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = v3fit
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a vmec test case.

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_VMEC_NAMELIST = input.current_state.vmec
CURRENT_VMEC_WOUT_FILE = wout_current_state.vmec.nc

CURRENT_V3FIT_NAMELIST = input.current_state.v3fit
CURRENT_V3FIT_RESULT_FILE = result.input.current_state.v3fit.nc

PLASMA_STATE_FILES = $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE $CURRENT_V3FIT_NAMELIST $CURRENT_V3FIT_RESULT_FILE

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER VMEC_INIT V3FIT_INIT VMEC V3FIT

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = v3fit_driver

    [[VMEC_INIT]]
        IMPLEMENTATION = vmec_init

    [[V3FIT_INIT]]
        IMPLEMENTATION = v3fit_init

    [[VMEC]]
        IMPLEMENTATION = vmec

    [[V3FIT]]
        IMPLEMENTATION = v3fit

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[v3fit_driver]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES =
    NAME = v3fit_driver
    NPROC = 1
    BIN_PATH = $IPS_V3FIT_COMP_PATH
    SCRIPT = $BIN_PATH/v3fit_driver.py
    OUTPUT_FILES =

[vmec_init]
    CLASS = workers
    SUB_CLASS =
    NAME = vmec_init
    NPROC = 1
    BIN_PATH = $IPS_VMEC_COMP_PATH
    SCRIPT = $BIN_PATH/vmec_init.py
    INPUT_FILES = input.test.vmec
    PLASMA_STATE_FILES = $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE
    OUTPUT_FILES =

[v3fit_init]
    CLASS = workers
    SUB_CLASS =
    NAME = v3fit_init
    NPROC = 1
    BIN_PATH = $IPS_V3FIT_COMP_PATH
    SCRIPT = $BIN_PATH/v3fit_init.py
    INPUT_FILES = input.test.v3fit
    PLASMA_STATE_FILES = $CURRENT_V3FIT_NAMELIST $CURRENT_V3FIT_RESULT_FILE
    OUTPUT_FILES =
    V3FIT_TASK = reconstruct
    V3FIT_WOUT_FILE =

[vmec]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = vmec
    NPROC = 1
    VMEC_EXE = $VMEC_INSTALL_PATH/$VMEC_INSTALL_NAME
    BIN_PATH = $IPS_VMEC_COMP_PATH
    SCRIPT = $BIN_PATH/vmec.py
    PLASMA_STATE_FILES = $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE
    OUTPUT_FILES =

[v3fit]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES = sxrem.dot thomson.dot intpol.dot
    NAME = v3fit
    NPROC = 4
    V3FIT_EXE = $V3FIT_INSTALL_PATH/$V3FIT_INSTALL_NAME
    BIN_PATH = $IPS_V3FIT_COMP_PATH
    SCRIPT = $BIN_PATH/v3fit.py
    PLASMA_STATE_FILES = $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE $CURRENT_V3FIT_NAMELIST $CURRENT_V3FIT_RESULT_FILE
    OUTPUT_FILES =
