# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

#  Hello world does not require these URLs
PORTAL_URL = http://localhost
RUNID_URL  = http://localhost

# ======================================================================
# ROOT LOCATION
# ======================================================================

#  Define the an environment variable for IPS base directory.
IPS_ROOT = $IPS_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = ml_train
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a ml_train test case.

#  Change to "quiet" to hide output.
#  Change to "verbose" to show all output.
#OUTPUT_LEVEL = quiet
OUTPUT_LEVEL = verbose

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_ML_TRAIN_STATE = current_ml_train_state.zip

STATE_FILES = $CURRENT_ML_TRAIN_STATE

# ======================================================================
# Input File SECTION
# ======================================================================

ML_TRAIN_DATA = chi_itg.dat

# ML_Train can be initialized from ether a inital data input or an existing
# state. There is currently no error checking to ensure the input state is a
#  valid state.

USER_INPUT_FILES = $ML_TRAIN_DATA
#USER_INPUT_FILES = $CURRENT_ML_TRAIN_STATE

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER INIT ML_TRAIN

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = ml_train_driver

    [[INIT]]
        IMPLEMENTATION = ml_train_init

    [[ML_TRAIN]]
        IMPLEMENTATION = ml_train

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[ml_train_driver]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES =
    NAME = ml_train_driver
    NPROC = 1
    BIN_PATH = $IPS_ML_TRAIN_COMP_PATH
    SCRIPT = $BIN_PATH/ml_train_driver.py
    STATE_FILES = $CURRENT_ML_TRAIN_STATE
    OUTPUT_FILES = $CURRENT_ML_TRAIN_STATE

[ml_train_init]
    CLASS = workers
    SUB_CLASS =
    NAME = ml_train_init
    NPROC = 1
    BIN_PATH = $IPS_ML_TRAIN_COMP_PATH
    SCRIPT = $BIN_PATH/ml_train_init.py
    INPUT_FILES = $USER_INPUT_FILES
    STATE_FILES = $CURRENT_ML_TRAIN_STATE
    OUTPUT_FILES =

[ml_train]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = ml_train
    NPROC = 1
    ML_TRAIN_EXE = $ML_TRAIN_INSTALL_PATH/$ML_TRAIN_INSTALL_NAME
    BIN_PATH = $IPS_ML_TRAIN_COMP_PATH
    SCRIPT = $BIN_PATH/ml_train.py
    STATE_FILES = $CURRENT_ML_TRAIN_STATE
    OUTPUT_FILES =
