# ======================================================================
# TEMPLATE FOR IPS_MASSIVE_SERIAL

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = ips_massive_serial_global

SIM_NAME = ${RUN_ID}

OUTPUT_PREFIX = 
LOG_FILE = ${RUN_ID}.log
LOG_LEVEL = DEBUG

SIM_ROOT = ${PWD}/RUN
INPUT_DIR_SIM = ${PWD}

RUN_COMMENT = massive serial
TAG = 

SIMULATION_MODE = NORMAL

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = ${SIM_ROOT}/work/plasma_state

STATE_FILES =   

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER 
    POSTS = 

    [[INIT]]
        IMPLEMENTATION = dummy_init 

    [[DRIVER]]
        IMPLEMENTATION = ips_massive_serial_global

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[dummy_init]
    CLASS = fastran
    SUB_CLASS = 
    NAME = dummy_init
    NPROC = 1
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = 
    MODULE = fastran.dummy.dummy_init

[ips_massive_serial_global]
    CLASS = fastran
    SUB_CLASS = 
    NAME = ips_massive_serial_global
    BIN_PATH =      
    BIN = ips.py
    NPROC = 1
    NTASKS = 2
    INPUT_DIR = $INPUT_DIR_SIM
    SIMULATION = ips_massive_serial.config
    MACHINE = cori_haswell_node.conf
    INPUT_FILES = $SIMULATION $MACHINE
    SUMMARY = $PWD/SUMMARY
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = 
    MODULE = fastran.driver.ips_massive_serial_global
    CLEAN_AFTER = 0
    TIME_OUT = 3600
