[submodule "ips-eped"]
	path = ips-eped
	url = https://github.com/ORNL-Fusion/ips-eped.git
	branch = master
[submodule "ips-fastran"]
	path = ips-fastran
	url = https://github.com/ORNL-Fusion/ips-fastran.git
	branch = master
