# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = massive_serial_runner
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a massive vmec test case.

#  Change to "quiet" to hide output.
#  Change to "verbose" to show all output.
OUTPUT_LEVEL = quiet

#  Size of batch to generate.
BATCH_SIZE = 10

# ======================================================================
# Constraint SECTION
# ======================================================================

#  Path and module for contrains
MODULE_PATH = /global/common/software/atom/cori/adaptive/systemcode/ml
MODULE_NAME = unconstrained

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_MVR_STATE = current_mvr_state.zip

STATE_FILES = $CURRENT_MVR_STATE

# ======================================================================
# Input File SECTION
# ======================================================================

# New Batch of inputs to the run the massive serial workflow on.
CURRENT_BATCH = new_data.json

# VMEC namelist input file template.
VMEC_NAMELIST_INPUT = input.test.vmec

# Model config
MODEL_CONFIG = model_config.json

# Inputs can either be specified as a previuos state file, or individual input
# files.
USER_INPUT_FILES = $CURRENT_MVR_STATE

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = DRIVER INIT MVR

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = massive_vmec_runner_driver

    [[INIT]]
        IMPLEMENTATION = massive_vmec_runner_init

    [[MVR]]
        IMPLEMENTATION = massive_vmec_runner

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[massive_vmec_runner_driver]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES =
    NAME = massive_serial_runner_driver
    NPROC = 1
    BIN_PATH =
    SCRIPT =
    MODULE = massive_vmec_runner.massive_vmec_runner_driver
    STATE_FILES = $CURRENT_MVR_STATE
    OUTPUT_FILES = $CURRENT_MVR_STATE

[massive_vmec_runner_init]
    CLASS = workers
    SUB_CLASS =
    NAME = massive_serial_runner_init
    NPROC = 1
    BIN_PATH =
    SCRIPT =
    MODULE = massive_vmec_runner.massive_vmec_runner_init
    INPUT_FILES = $USER_INPUT_FILES
    STATE_FILES = $CURRENT_MVR_STATE
    OUTPUT_FILES =

[massive_vmec_runner]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = massive_vmec_runner
    NPROC = 1
    BIN_PATH =
    SCRIPT =
    MODULE = massive_vmec_runner.massive_vmec_runner
    STATE_FILES = $CURRENT_MVR_STATE
    OUTPUT_FILES = $CURRENT_BATCH
