# ======================================================================
# TEMPLATE FOR FASTRAN MODEL EQUILIBRIUM

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = modeleq
TOKAMAK_ID = d3d
SHOT_NUMBER = 123456
TIME_ID = 00001 

SIM_NAME = ${RUN_ID}_${SHOT_NUMBER}

OUTPUT_PREFIX = 
LOG_FILE = ${RUN_ID}.log
LOG_LEVEL = DEBUG

SIM_ROOT = ${PWD}
INPUT_DIR_SIM = ${HOME}/ips-wrappers/ips-massive-serial-runner/Test/input

RUN_COMMENT = model equilibrium
TAG = 

SIMULATION_MODE = NORMAL

OUT_REDIRECT = True
OUT_REDIRECT_FNAME = ${RUN_ID}.out 
USE_PORTAL = false

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_STATE = s${SHOT_NUMBER}.$TIME_ID
CURRENT_EQDSK = g${SHOT_NUMBER}.$TIME_ID
CURRENT_INSTATE = i${SHOT_NUMBER}.$TIME_ID

PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_INSTATE  
PLASMA_STATE_SCRATCH =

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EQ TR CONSTRAINT 
    POSTS = 

    [[DRIVER]]
        IMPLEMENTATION = modeleq_driver

    [[INIT]]
        IMPLEMENTATION = modeleq_init
      
    [[EQ]]
        IMPLEMENTATION = efit

    [[TR]]
        IMPLEMENTATION = fastran

    [[CONSTRAINT]]
        IMPLEMENTATION = modeleq_constraint

    [[MONITOR]]
        IMPLEMENTATION = monitor


# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[modeleq_init]
    CLASS = fastran
    SUB_CLASS = 
    NAME = modeleq_init
    NPROC = 1
    INPUT_DIR = $INPUT_DIR_SIM
    INSTATE = instate_shpd
    INPUT_FILES = $INSTATE
    INPUT_ID = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/modeleq_init.py

[modeleq_driver]
    CLASS = fastran
    SUB_CLASS = 
    NAME = modeleq_driver
    NPROC = 1
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/modeleq_driver.py

[efit]
    CLASS = fastran
    SUB_CLASS = 
    NAME = efit
    NPROC = 1
    BIN_PATH = $EFIT_BIN_DIR
    BIN = $EFIT_BIN_NAME 129 129
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
#   OUTPUT_FILES = g*.* a*.* m*.* k*.* efit.log
    OUTPUT_FILES = 
    RESTART_FILES =
    SCRIPT = $FASTRAN_ROOT/src/efit.py
    PS_BACKEND = INSTATE
     
    INIT_RUN = 1 
    INIT_RUN_STEP = 0
    NITER = 10
    PRESSURE = 'kinetic' #'total'

    SCALE_GS = 1
    R0_scale = 1.7
    B0_scale = 2.0

    TOPOLOGY = DN

[fastran]
    CLASS = fastran
    SUB_CLASS = 
    NAME = fastran
    NPROC = 1
    NPROC_KY = 1
    BIN_PATH = $FASTRAN_BIN_DIR
    BIN = $FASTRAN_SERIAL_BIN_NAME
    INPUT_DIR = $INPUT_DIR_SIM
    INFASTRAN = infastran
    INPUT_FILES = $INFASTRAN intglf
#   OUTPUT_FILES = fastran.nc inprof inmetric infastran intglf xfastran.log
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran.py
    PS_BACKEND = instate

[modeleq_constraint]
    CLASS = fastran
    SUB_CLASS = 
    NAME = modeleq_constraint
    NPROC = 1
    BIN_PATH =
    BIN = 
    INPUT_DIR = $INPUT_DIR_SIM
    INFASTRAN = 
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/modeleq_constraint.py

[monitor]
    CLASS = monitor
    SUB_CLASS =
    NAME = monitor
    NPROC = 1
    BIN_PATH = 
    BIN = 
    INPUT_DIR = 
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/monitor.py

# =============================================================================
# ITERATION SECTION
# =============================================================================

[ITERATION_LOOP]
    MODE = REGULAR
    NSTEP = 10

