# ======================================================================
# TEMPLATE FOR IPS_MASSIVE_SERIA

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = ips_massive_serial 

SIM_NAME = ${RUN_ID}

OUTPUT_PREFIX = 
LOG_FILE = ${RUN_ID}.log
LOG_LEVEL = DEBUG

SIM_ROOT = ${PWD}/RUN
INPUT_DIR_SIM = ${PWD}

RUN_COMMENT = massive serial
TAG = 

SIMULATION_MODE = NORMAL

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

PLASMA_STATE_FILES =   

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER 
    POSTS = 

    [[INIT]]
        IMPLEMENTATION = dummy_init 

    [[DRIVER]]
        IMPLEMENTATION = ips_massive_serial

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[dummy_init]
    CLASS = fastran
    SUB_CLASS = 
    NAME = dummy_init
    NPROC = 1
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/dummy_init.py

[ips_massive_serial]
    CLASS = fastran
    SUB_CLASS = 
    NAME = ips_massive_serial
    BIN_PATH = ${IPS_ROOT}/bin     
    BIN = ips.py
    NPROC = 1
    DASK_NODES = 1
    TASK_PPN = 32
    INPUT_DIR = $INPUT_DIR_SIM
    SIMULATION = $MSR_MODEL_CONFIG
    INSCAN = inscan
    INPUT_FILES = $SIMULATION $INSCAN
    SUMMARY = $PWD/output
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/ips_massive_serial.py
    CLEAN_AFTER = 1
    TIME_OUT = 1800
