# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

#  Hello world does not require these URLs
PORTAL_URL = http://localhost
RUNID_URL  = http://localhost

# ======================================================================
# ROOT LOCATION
# ======================================================================

#  Define the an environment variable for IPS base directory.
IPS_ROOT = $IPS_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = quasi_newton
SIM_ROOT = $PWD

LOG_FILE = log.warning
LOG_LEVEL = DEBUG

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a ips-quasi-newton test case.

#  Change to "quiet" to hide output.
#  Change to "verbose" to show all output.
OUTPUT_LEVEL = quiet
#OUTPUT_LEVEL = verbose

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_QUASI_NEWTON_STATE = current_model_state.zip

STATE_FILES = $CURRENT_QUASI_NEWTON_STATE

# ======================================================================
# Input File SECTION
# ======================================================================

#  JSON file to configure how the quasi-newton optimization is run.
QUASI_NEWTON_CONFIG = quasi-newton.json

#  Model input is the plasma state zip archive of a subworkflow.
MODEL_INPUT = current_v3fit_state.zip

#  Need a quasi-newton JSON file and a model.
USER_INPUT_FILES = $QUASI_NEWTON_CONFIG $MODEL_INPUT

USER_OUTPUT_FILES = $CURRENT_QUASI_NEWTON_STATE

# ======================================================================
# Model SECTION
# ======================================================================
#  This configures the sub-workflow to use.
MODEL_SIM_CONFIG = $V3FIT_CONFIG

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER INIT

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = quasi_newton_driver

    [[INIT]]
        IMPLEMENTATION = quasi_newton_init

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[quasi_newton_driver]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES =
    NAME = quasi_newton_driver
    NPROC = 1
    BIN_PATH = $IPS_QUASI_NEWTON_COMP_PATH
    SCRIPT =
    MODULE = ips_quasi_newton.quasi_newton_driver
    STATE_FILES = $CURRENT_QUASI_NEWTON_STATE
    OUTPUT_FILES = $USER_OUTPUT_FILES

[quasi_newton_init]
    CLASS = workers
    SUB_CLASS =
    NAME = quasi_newton_init
    NPROC = 1
    BIN_PATH = $IPS_QUASI_NEWTON_COMP_PATH
    SCRIPT =
    MODULE = ips_quasi_newton.quasi_newton_init
    INPUT_FILES = $USER_INPUT_FILES
    STATE_FILES = $CURRENT_QUASI_NEWTON_STATE
    OUTPUT_FILES =
