# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

#  Hello world does not require these URLs
PORTAL_URL = http://localhost
RUNID_URL  = http://localhost

# ======================================================================
# ROOT LOCATION
# ======================================================================

#  Define the an environment variable for IPS base directory.
IPS_ROOT = $IPS_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = siesta
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a vmec test case.

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_SIESTA_STATE = current_siesta_state.zip
CURRENT_VMEC_STATE = current_vmec_state.zip

PLASMA_STATE_FILES = $CURRENT_SIESTA_STATE

# ======================================================================
# Input File SECTION
# ======================================================================

#  VMEC Input can either be a namelist input file or an existing wout file.
VMEC_NAMELIST_INPUT = input.test.vmec

VMEC_INPUT_FILES = $VMEC_NAMELIST_INPUT
#VMEC_INPUT_FILES = $CURRENT_VMEC_STATE

SIESTA_NAMELIST_INPUT = siesta.jcf

USER_INPUT_FILES = $SIESTA_NAMELIST_INPUT $VMEC_INPUT_FILES
#USER_INPUT_FILES = $CURRENT_SIESTA_STATE

# ======================================================================
# RUN OPTIONS
# ======================================================================

# RUN_MODE = stand_alone
RUN_MODE = standard

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER INIT SIESTA

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = siesta_driver

    [[INIT]]
        IMPLEMENTATION = siesta_init

    [[SIESTA]]
        IMPLEMENTATION = siesta

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[siesta_driver]
    CLASS = driver
    SUB_CLASS =
    NAME = siesta_driver
    NPROC = 1
    BIN_PATH = $IPS_SIESTA_COMP_PATH
    SCRIPT = $BIN_PATH/siesta_driver.py
    INPUT_FILES =
    PLASMA_STATE_FILES = $CURRENT_SIESTA_STATE
    OUTPUT_FILES =

[siesta_init]
    CLASS = workers
    SUB_CLASS =
    NAME = siesta_init
    NPROC = 1
    BIN_PATH = $IPS_SIESTA_COMP_PATH
    SCRIPT = $BIN_PATH/siesta_init.py
    INPUT_FILES = $USER_INPUT_FILES
    PLASMA_STATE_FILES = $CURRENT_SIESTA_STATE
    OUTPUT_FILES =

[siesta]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = siesta
    NPROC = 4
    SIESTA_EXE = $SIESTA_INSTALL_PATH/$SIESTA_INSTALL_NAME
    BIN_PATH = $IPS_SIESTA_COMP_PATH
    SCRIPT = $BIN_PATH/siesta.py
    PLASMA_STATE_FILES = $CURRENT_SIESTA_STATE
    OUTPUT_FILES =

