# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

#  Hello world does not require these URLs
PORTAL_URL = http://localhost
RUNID_URL  = http://localhost

# ======================================================================
# ROOT LOCATION
# ======================================================================

#  Define the an environment variable for IPS base directory.
IPS_ROOT = $IPS_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = vmec
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a vmec test case.

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_VMEC_NAMELIST = input.current_state.vmec
CURRENT_VMEC_WOUT_FILE = wout_current_state.vmec.nc

CURRENT_SIESTA_NAMELIST = siesta.jcf
CURRENT_SIESTA_RESTART_FILE = wout_current_state.vmec.nc

PLASMA_STATE_FILES = $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE $CURRENT_SIESTA_NAMELIST $CURRENT_SIESTA_RESTART_FILE

# ======================================================================
# RUN OPTIONS
# ======================================================================

# RUN_MODE = stand_alone
RUN_MODE = standard

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER VMEC_INIT SIESTA_INIT VMEC SIESTA

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = siesta_driver

    [[VMEC_INIT]]
        IMPLEMENTATION = vmec_init

    [[SIESTA_INIT]]
        IMPLEMENTATION = siesta_init

    [[VMEC]]
        IMPLEMENTATION = vmec

    [[SIESTA]]
        IMPLEMENTATION = siesta

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[siesta_driver]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES =
    NAME = siesta_driver
    NPROC = 1
    BIN_PATH = $IPS_SIESTA_COMP_PATH
    SCRIPT = $BIN_PATH/siesta_driver.py
    OUTPUT_FILES =

[vmec_init]
    CLASS = workers
    SUB_CLASS =
    NAME = vmec_init
    NPROC = 1
    BIN_PATH = $IPS_VMEC_COMP_PATH
    SCRIPT = $BIN_PATH/vmec_init.py
    INPUT_FILES = input.test.vmec
    PLASMA_STATE_FILES = $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE
    OUTPUT_FILES =

[siesta_init]
    CLASS = workers
    SUB_CLASS =
    NAME = vmec_init
    NPROC = 1
    BIN_PATH = $IPS_SIESTA_COMP_PATH
    SCRIPT = $BIN_PATH/siesta_init.py
    INPUT_FILES = siesta.jcf
    PLASMA_STATE_FILES = $CURRENT_SIESTA_NAMELIST $CURRENT_SIESTA_RESTART_FILE
    OUTPUT_FILES =

[vmec]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = vmec
    NPROC = 4
    VMEC_EXE = $VMEC_INSTALL_PATH/$VMEC_INSTALL_NAME
    BIN_PATH = $IPS_VMEC_COMP_PATH
    SCRIPT = $BIN_PATH/vmec.py
    PLASMA_STATE_FILES = $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE
    OUTPUT_FILES =

[siesta]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = siesta
    NPROC = 4
    SIESTA_EXE = $SIESTA_INSTALL_PATH/$SIESTA_INSTALL_NAME
    BIN_PATH = $IPS_SIESTA_COMP_PATH
    SCRIPT = $BIN_PATH/siesta.py
    PLASMA_STATE_FILES = $CURRENT_SIESTA_NAMELIST $CURRENT_SIESTA_RESTART_FILE $CURRENT_VMEC_NAMELIST $CURRENT_VMEC_WOUT_FILE
    OUTPUT_FILES =
    LADD_PERT = F
    LRESISTIVE = F
    LRESTART = F

