# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL = 
USER = sfrnk

# ======================================================================
# ROOT LOCATION
# ======================================================================

IPS_ROOT = $IPS_DIR
IPS_COMPONENTS_ROOT = $IPS_ROOT/ips-wrappers

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = TORIC_CMOD
RUN_COMMENT = C-Mod H mode w/ minority H heating (Pressure Record Lipschultz 2006)
TOKAMAK_ID = CMOD
SHOT_NUMBER = 1050426022
SIM_NAME = toric_CMOD

OUTPUT_PREFIX =
LOG_FILE = log.warning
LOG_LEVEL = WARNING

SIM_ROOT = $PWD
SIM_INPUT_DIR= $PWD/_inputs
SIM_EXEC_DIR = $PWD/_exec

SIMULATION_MODE = RESTART # NORMAL or RESTART
RESTART_TIME = LATEST  # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# GLOBAL SIM. CONFIG. PARAMS.
# ======================================================================

ENORM = 3000.0         #(keV) max FP energy for minority spec.
SPECS = MIN+           #determines which species get FP'd (MIN or MIN+) 
RFPWR_IC = 4500000.0   #ICRF power
NSURF_FP = 64          #number of FP'd surfaces (eqspaced in rho)
RHO_FPLO = 0.0001      #lowest rho surface
RHO_FPHI = 0.999       #highest rho surface

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
ARCHIVE_STATE_ON_OUTPUT = TRUE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE = ips-state.nc
CURRENT_EQDSK = ips-eqdsk.geq
EQ_OVERRIDE = n
CURRENT_CQL = cql3d.nc

# List of files that constitute the plasma state
STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_CQL du0u0_input_1 du0u0_input_2
PLASMA_STATE_FILES = $STATE_FILES
ALL_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_CQL du0u0_input_1 du0u0_input_2

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EPA RF_IC FP

    # Required ports - DRIVER and INIT
    [[INIT]]
        IMPLEMENTATION = generic_ps_init

    [[DRIVER]]
        IMPLEMENTATION = aorsa_driver

    # Physics ports
   [[EPA]]
        IMPLEMENTATION = EPA_mdescr

   [[RF_IC]]
      IMPLEMENTATION = aorsa

   [[FP]]
      IMPLEMENTATION = CQL3D

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================


[generic_ps_init]
    #Comp. class/name/nproc 	
    CLASS = init
    SUB_CLASS =
    NAME = generic_ps_init
    NPROC = 1

    #Wrapper path for comp.
    BIN_PATH = $IPS_COMPONENTS_ROOT/initializers/generic_ps_init
    SCRIPT = $BIN_PATH/generic_ps_init.py

    #I/O files
    INPUT_DIR = $SIM_INPUT_DIR/generic_ps_file_init
    INPUT_FILES = CMOD_toric.mdescr CMOD_toric.sconfig eqdsk.dat
    OUTPUT_FILES = 
    RESTART_FILES = $STATE_FILES
    PLASMA_STATE_FILES = $ALL_STATE_FILES

    #Comp. specific options
    INIT_MODE = mdescr
    MDESCR_FILE = CMOD_toric.mdescr
    SCONFIG_FILE = CMOD_toric.sconfig
    INPUT_EQDSK_FILE = eqdsk.dat
    

[aorsa_driver]
    #Comp. class/name/nproc 	
    CLASS = driver
    SUB_CLASS = 
    NAME = aorsa_driver
    NPROC = 1

    #Wrapper path for comp.
    BIN_PATH = $IPS_COMPONENTS_ROOT/aorsa_cql3d_iterate
    SCRIPT = $BIN_PATH/driver_aorsa_cql3d_iterate.py

    #I/O files
    INPUT_DIR =
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    PLASMA_STATE_FILES = $CURRENT_STATE

    #Comp. specific options
    INIT_ONLY = FALSE

[EPA_mdescr]
    #Comp. class/name/nproc 
    CLASS = model
    SUB_CLASS = 
    NAME = EPA_mdescr
    NPROC = 1

    #Wrapper path for comp.
    BIN_PATH = $IPS_COMPONENTS_ROOT/ips-model-epa/
    SCRIPT = $BIN_PATH/model_EPA_mdescr.py

    #I/O files
    INPUT_DIR = $SIM_INPUT_DIR/model_EPA_mdescr/
    INPUT_FILES = model_EPA_mdescr_input.nml
    OUTPUT_FILES = 
    RESTART_FILES = 
    PLASMA_STATE_FILES = $CURRENT_STATE

    #Comp. specific options
    INIT_ONLY = FALSE
    
[aorsa]
    #Comp. class/name/nproc
    CLASS = rf
    SUB_CLASS = ic
    NAME = aorsa
    NPROC = 1024
    NPPN = 128

    #Wrapper path for comp.
    BIN_PATH = $IPS_COMPONENTS_ROOT/aorsa_cql3d_iterate/ips-aorsa
    SCRIPT = $BIN_PATH/rf_ic_aorsa_iterate.py

    #Code executable paths
    AORSA_BIN = /tmp/${USER}_xaorsa2d

    #I/O Files
    INPUT_DIR = $SIM_INPUT_DIR/aorsa/
    INPUT_FILES =  aorsa_template.in Ztable ZTABLE.TXT grfont.dat
    PLASMA_STATE_FILES =  $ALL_STATE_FILES
    OUTPUT_FILES = *
    RESTART_FILES = $INPUT_FILES $STATE_FILES
 
[CQL3D]
    #Comp. class/name/nproc
    CLASS = fp
    SUB_CLASS =
    NAME = cql3d
    NPROC = 64
    NPPN = 64

    #Wrapper path for comp.
    BIN_PATH = $IPS_COMPONENTS_ROOT/aorsa_cql3d_iterate/ips-cql3d
    SCRIPT = $BIN_PATH/fp_cql3d_feedback_pwrscale.py

    #Code executable paths
    CQL3D_BIN = $CQL3D_EXEC

    #I/O Files
    INPUT_DIR = $SIM_INPUT_DIR/cql3d/
    INPUT_FILES = cqlinput_template grfont.dat 
    PLASMA_STATE_FILES = $ALL_STATE_FILES
    OUTPUT_FILES = *
    RESTART_FILES = $INPUT_FILES $STATE_FILES

    #Comp. specific options
    CQL3D_MODE = IC
    CQL3D_NML = cqlinput_template
    NSTEPS_STR = 1 
    DELTAT_STR = 0.0005 #setting to zero turns on special ramped stepping
         
# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR #DONT CHANGE THIS TO RESTART OR IT WILL BREAK
    START = $RESTART_TIME # Float or $RESTART_TIME
    FINISH = $START + 50. # Float or $RESTART_TIME + float
    NSTEP = 50

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = PHYSTIME_REGULAR
   PHYSTIME_INTERVAL = 1.0
   NUM_CHECKPOINT = -1
