# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST = 
# MPIRUN = 
# PHYS_BIN_ROOT =  
# DATA_TREE_ROOT =
# PORTAL_URL = 
# RUNID_URL  = 

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL = 
USER =                  # Optional, if missing the unix username is used 

# ======================================================================
# ROOT LOCATION
# ======================================================================

IPS_ROOT = $IPS_WRAPPER_CheasePy
#IPS_EXAMPLES_PATH = $IPS_DIR/ips-examples

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = cheasePy
TOKAMAK_ID = DIIID
SHOT_NUMBER = 162940
TIME_ID = 2944

SIM_NAME = ${RUN_ID}_${TOKAMAK_ID}${SHOT_NUMBER}.${TIME_ID}

OUTPUT_PREFIX = 
LOG_FILE = ${RUN_ID}_log.warning
LOG_LEVEL = DEBUG # DEBUG | INFO | WARN | ERROR | CRITICAL 

SIM_ROOT = $IPS_WRAPPER_CheasePy
#SIM_ROOT = $PWD/${TOKAMAK_ID}${SHOT_NUMBER}.${TIME_ID}
SIM_INPUT_DIR = $IPS_WRAPPER_CheasePy/input

RUN_COMMENT = predictive
TAG = cheasePy_IPS                        # for grouping related runs

SIMULATION_MODE = NORMAL # NORMAL or RESTART
RESTART_TIME = LATEST    # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# Description of the simulation for the portal
SIMULATION_DESCRIPTION = Integrating CheasePy to IPS

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
ARCHIVE_STATE_ON_OUTPUT = FALSE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE   = ${TOKAMAK_ID}_${SHOT_NUMBER}_PROFILES
CURRENT_CHEASE  = ${TOKAMAK_ID}_${SHOT_NUMBER}_CHEASE
CURRENT_EXPTNZ  = ${TOKAMAK_ID}_${SHOT_NUMBER}_EXPTNZ
CURRENT_EXPEQ   = ${TOKAMAK_ID}_${SHOT_NUMBER}_EXPEQ
CURRENT_EQDSK   = ${TOKAMAK_ID}_${SHOT_NUMBER}_EQDSK

# List of files that constitute the plasma state
STATE_FILES = ${CURRENT_STATE} ${CURRENT_EQDSK} ${CURRENT_CHEASE}

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
#PLASMA_STATE_WORK_DIR = 

# Config variables defining simulation specific names for plasma state files

# List of files that constitute the plasma state
#PLASMA_STATE_FILES = 

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES      = INIT DRIVER WORKER 
    PREPROCESS = 

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = cheasepy_driver 

    [[INIT]]
        IMPLEMENTATION = cheasepy_init

    [[WORKER]]
        IMPLEMENTATION = cheasepy_worker

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[cheasepy_init]
    CLASS = cheasepy
    SUB_CLASS = init
    NAME = cheasepy_init
    NPROC = 1
    INPUT_DIR = ${SIM_INPUT_DIR}
    INPUT_FILES = DIIID_162940_EQDSK DIIID_162940_PROFILES DIIID_162940_CHEASE
    OUTPUT_FILES =  
    SCRIPT = $IPS_WRAPPER_CheasePy/cheasepy_init.py

[cheasepy_driver]
    CLASS = cheasepy
    SUB_CLASS = driver
    NAME = cheasepy_driver 
    NPROC = 1
    INPUT_DIR = ${SIM_INPUT_DIR}
    INPUT_FILES = inchease0
    OUTPUT_FILES =  
    RUN_MODE = 1
    SCRIPT = $IPS_WRAPPER_CheasePy/cheasepy_driver.py

    inputpath     = ${STATE_WORK_DIR}
    gfname        = ${CURRENT_EQDSK}
    pfname        = ${CURRENT_STATE}
    rhomesh_src   = 'eqdsk'
    current_src   = 'eqdsk'
    pressure_src  = 'eqdsk'
    boundary_src  = 'asis'
    eprofiles_src = 'profiles'
    iprofiles_src = 'profiles'

    NS        =   64
    NT        =   64
    NISO      =   64
    NPSI      =  128
    NCHI      =  128
    NRBOX     =   60
    NZBOX     =   60
    RELAX     =    0.0
    NSTTP     =    1
    NPROPT    =    3
    NPPFUN    =    8
    NEQDSK    =    1
    NFUNRHO   =    0
    TENSBND   =    0
    TENSPROF  =    0
    NRHOMESH  =    0
    cocos_in  =    2
    cocos_out =   12

[cheasepy_worker]
    CLASS = cheasepy
    SUB_CLASS = worker
    NAME = cheasepy_worker 
    NPROC = 1
    BIN_PATH = $IPS_WRAPPER_CheasePy/bin
    BIN = binchease chease_namelist
    INPUT_DIR = ${SIM_INPUT_DIR}
    INPUT_FILES = inchease1
    OUTPUT_FILES =  
    RUN_MODE = 1
    SCRIPT = $IPS_WRAPPER_CheasePy/cheasepy_worker.py


# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = 0 #$RESTART_TIME # Float or $RESTART_TIME 
    FINISH = 1 #$RESTART_TIME + 18.0 # 3.5 # Float or $RESTART_TIME + float 
    NSTEP = 1 

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = ALL
   PHYSTIME_INTERVAL = 0.5 
   NUM_CHECKPOINT = -1 
   PROTECT_FREQUENCY = 5  


