# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

#  Hello world does not require these URLs
PORTAL_URL = http://localhost
RUNID_URL  = http://localhost

# ======================================================================
# ROOT LOCATION
# ======================================================================

#  Define the an environment variable for IPS base directory.
IPS_ROOT = $IPS_PATH
SOLPSTOP = /Users/m4c/Research/SOLPS/solps-iter/

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = solps_recon
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a solps-iter test case.

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_SOLPS_STATE = current_solps_state.zip

EIRENE_INPUT_DAT = input.dat
EIRENE_NODES = input.nodes.dat
EIRENE_CELLS = input.cells.dat
EIRENE_LINKS = input.links.dat

EIRENE_DATABASE_PATH = /Users/m4c/Research/SOLPS/solps-iter/modules/Eirene/Database

PLASMA_STATE_FILES = $CURRENT_SOLPS_STATE

INPUT_DIR = /Users/m4c/ips-wrappers/ips-solps-iter/Test

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER SOLPS_INIT SOLPS

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = solps_driver

    [[SOLPS_INIT]]
        IMPLEMENTATION = solps_init

    [[SOLPS]]
        IMPLEMENTATION = solps

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[solps_driver]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES =
    NAME = solps_iter_driver
    NPROC = 1
    BIN_PATH = $IPS_SOLPS_COMP_PATH
    SCRIPT = $BIN_PATH/solps_iter_driver.py
    PLASMA_STATE_FILES =
    OUTPUT_FILES =
    SOLPS_TASK =

[solps_init]
    CLASS = workers
    SUB_CLASS =
    NAME = solps_iter_init
    NPROC = 1
    BIN_PATH = $IPS_SOLPS_COMP_PATH
    SCRIPT = $BIN_PATH/solps_iter_init.py
    INPUT_FILES = $INPUT_DIR/$EIRENE_INPUT_DAT $INPUT_DIR/$EIRENE_NODES $INPUT_DIR/$EIRENE_CELLS $INPUT_DIR/$EIRENE_LINKS $INPUT_DIR/b2.boundary.parameters $INPUT_DIR/b2.neutrals.parameters $INPUT_DIR/b2.numerics.parameters $INPUT_DIR/b2.transport.parameters $INPUT_DIR/b2fgmtry $INPUT_DIR/b2fpardf $INPUT_DIR/b2frates $INPUT_DIR/b2fstati $INPUT_DIR/b2mn.dat
    PLASMA_STATE_FILES = $CURRENT_SOLPS_STATE
    OUTPUT_FILES =

[solps]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = solps_iter
    NPROC = 1
    B2_EIRENE_EXE = $IPS_B2_EIRENE_INSTALL_PATH/$IPS_B2_EIRENE_INSTALL_NAME
    SOLPS_SIGNALS_EXE = $IPS_SOLPS_SIGNALS_INSTALL_PATH/$IPS_SOLPS_SIGNALS_INSTALL_NAME
    BIN_PATH = $IPS_SOLPS_COMP_PATH
    SCRIPT = $BIN_PATH/solps_iter.py
    PLASMA_STATE_FILES = $CURRENT_SOLPS_STATE
    OUTPUT_FILES =
