# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

#  Hello world does not require these URLs
PORTAL_URL = http://localhost
RUNID_URL  = http://localhost

# ======================================================================
# ROOT LOCATION
# ======================================================================

#  Define the an environment variable for IPS base directory.
IPS_ROOT = $IPS_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = solps
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is a solps-iter test case.

#  Change to "quiet" to hide output.
#  Change to "verbose" to show all output.
OUTPUT_LEVEL = verbose

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_SOLPS_STATE = current_solps_state.zip

STATE_FILES = $CURRENT_SOLPS_STATE

# ======================================================================
# Input File SECTION
# ======================================================================

#  Eirene inputs.
EIRENE_INPUT_DAT = input.dat
EIRENE_GRID = input.grid.dat
EIRENE_NODES = input.nodes.dat
EIRENE_CELLS = input.cells.dat
EIRENE_LINKS = input.links.dat

EIRENE_INPUT_FILES = $EIRENE_INPUT_DAT $EIRENE_NODES $EIRENE_CELLS $EIRENE_LINKS

EIRENE_DATABASE_PATH = $SOLPSTOP/modules/Eirene/Database

#  B2 Inputs.
B2_NAMELIST_INPUTS = b2.boundary.parameters b2.neutrals.parameters b2.numerics.parameters b2.transport.parameters
B2_CONFIG_INPUTS = b2fgmtry b2fpardf b2frates b2fstati b2mn.dat

B2_INPUT_FILES = $B2_NAMELIST_INPUTS $B2_CONFIG_INPUTS

USER_INPUT_FILES = $EIRENE_INPUT_FILES $B2_INPUT_FILES
#USER_INPUT_FILES = $CURRENT_SOLPS_STATE

USER_OUTPUT_FILES = $CURRENT_SOLPS_STATE

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER INIT SOLPS

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = solps_driver

    [[INIT]]
        IMPLEMENTATION = solps_init

    [[SOLPS]]
        IMPLEMENTATION = solps

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[solps_driver]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES =
    NAME = solps_iter_driver
    NPROC = 1
    BIN_PATH = $IPS_SOLPS_COMP_PATH
    SCRIPT = $BIN_PATH/solps_iter_driver.py
    STATE_FILES = $CURRENT_SOLPS_STATE
    OUTPUT_FILES = $USER_OUTPUT_FILES

[solps_init]
    CLASS = workers
    SUB_CLASS =
    NAME = solps_iter_init
    NPROC = 1
    BIN_PATH = $IPS_SOLPS_COMP_PATH
    SCRIPT = $BIN_PATH/solps_iter_init.py
    INPUT_FILES = $USER_INPUT_FILES
    STATE_FILES = $CURRENT_SOLPS_STATE
    OUTPUT_FILES =

[solps]
    CLASS = workers
    SUB_CLASS =
    INPUT_FILES =
    NAME = solps_iter
    NPROC = 1
    B2_EIRENE_EXE = $IPS_B2_EIRENE_INSTALL_PATH/$IPS_B2_EIRENE_INSTALL_NAME
    SOLPS_SIGNALS_EXE = $IPS_SOLPS_SIGNALS_INSTALL_PATH/$IPS_SOLPS_SIGNALS_INSTALL_NAME
    BIN_PATH = $IPS_SOLPS_COMP_PATH
    SCRIPT = $BIN_PATH/solps_iter.py
    STATE_FILES = $CURRENT_SOLPS_STATE
    OUTPUT_FILES =
