# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST =
# MPIRUN =
# PHYS_BIN_ROOT =
# DATA_TREE_ROOT =
# PORTAL_URL =
# RUNID_URL  =

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL =
USER = Batchelor       		# Optional, if missing the unix username is used

# ======================================================================
# ROOT LOCATION
# ======================================================================

COMPONENTS_ROOT = $IPS_WRAPPER_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = GENRAY_stand_alone
RUN_COMMENT = Testing GENRAY_stand_alone
TOKAMAK_ID = ITER
SHOT_NUMBER = 12345
SIM_NAME = ITER_GENRAY_EC

OUTPUT_PREFIX =
LOG_FILE = log.warning
LOG_LEVEL = WARNING

SIM_ROOT = $PWD
SIM_INPUT_DIR=$SIM_ROOT/_inputs

SIMULATION_MODE = NORMAL # NORML or RESTART
START_TIME = 195.0

#SIMULATION_MODE = RESTART # NORMAL or RESTART
#RESTART_TIME = 2.0 # Float or LATEST

RESTART_ROOT = $SIM_ROOT

USE_PORTAL = True
PORTAL_URL = http://lb.ipsportal.production.svc.spin.nersc.org

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
ARCHIVE_STATE_ON_OUTPUT = TRUE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE = ips-state.nc
CURRENT_EQDSK = ips-eqdsk.geq

# List of files that constitute the plasma state
STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
ALL_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER RF_EC MONITOR

    # Required ports - DRIVER and INIT

    [[INIT]]
        IMPLEMENTATION = generic_ps_init

    [[DRIVER]]
        IMPLEMENTATION = GENERIC_DRIVER

    # Physics ports

   [[RF_EC]]
      IMPLEMENTATION = rf_genray

    # Monitor ports

    [[MONITOR]]
        IMPLEMENTATION = monitor_comp

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================


[generic_ps_init]
    CLASS = generic_ps_init
    SUB_CLASS = dbb
    NAME = generic_ps_init
    NPROC = 1
    INIT_MODE = existing_ps_file
    BIN_PATH = $COMPONENTS_ROOT/initializers/generic_ps_init
    SCRIPT = $BIN_PATH/generic_ps_init.py
    INPUT_DIR = $SIM_INPUT_DIR/generic_ps_file_init_input
    INPUT_FILES = cur_state.cdf eqdsk
    MDESCR_FILE =
    SCONFIG_FILE =
    INPUT_STATE_FILE = cur_state.cdf
    INPUT_EQDSK_FILE = eqdsk

    OUTPUT_FILES = $CURRENT_STATE
    RESTART_FILES = $STATE_FILES
    STATE_FILES = $ALL_STATE_FILES

[GENERIC_DRIVER]
    CLASS = drivers
    SUB_CLASS = dbb
    NAME = generic_driver
    NPROC = 1
    INIT_ONLY = FALSE
    BIN_PATH = $COMPONENTS_ROOT/generic-drivers
    SCRIPT = $BIN_PATH/generic_driver.py
        INPUT_DIR =
        INPUT_FILES =
        OUTPUT_FILES =
        RESTART_FILES =
        STATE_FILES = $CURRENT_STATE

[rf_genray]
    CLASS = rf
    SUB_CLASS = genray
    NAME = genray
    NPROC = 24
    RFMODE = EC
    ISOURCE_STRING = 1
    GENRAYNML = genray.in_EC
    ADJ_READ = disabled
    PS_ADD_NML = disabled
    BIN_PATH = $COMPONENTS_ROOT/ips-genray/
    #GENRAY_BIN = /global/cfs/cdirs/m77/CompX/GENRAY/xgenray_mpi_intel.cori
    GENRAY_BIN = $GENRAY_EXEC
    INPUT_DIR = $SIM_INPUT_DIR/genray_EC_input/
        INPUT_SUFFIX =
        INPUT_FILES = genray.in_EC
    OUTPUT_FILES = genray.in log.genray
    STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
    RESTART_FILES = $INPUT_FILES
    N_LAUNCHERS_PROGRAMMED = 5 
    LAUNCHER1_TIMES = 0
    LAUNCHER1_alfast = 140.0
    LAUNCHER1_betast = 90.0
    LAUNCHER1_powtot_MW = 0.0
    LAUNCHER2_TIMES = 0 15 100 250
    LAUNCHER2_alfast = 220.0 220.0 220.0 205.0
    LAUNCHER2_betast = 85.0 85.0 95.0 100.0
    LAUNCHER2_powtot_MW = 0.0 6.7 6.7 6.7
    LAUNCHER3_TIMES = 0 30 100 250
    LAUNCHER3_alfast = 219.0 219.0 219.0 210.0
    LAUNCHER3_betast = 95.0 95.0 85.0 80.0
    LAUNCHER3_powtot_MW = 0.0 6.7 6.7 6.7
    LAUNCHER4_TIMES = 0 50
    LAUNCHER4_alfast = 203.0 203.0
    LAUNCHER4_betast = 145.0 145.0
    LAUNCHER4_powtot_MW = 0.0 6.7
    LAUNCHER5_TIMES = 0 175 250
    LAUNCHER5_alfast = 205.0 205.0 205.0
    LAUNCHER5_betast = 149.0 149.0 147.0
    LAUNCHER5_powtot_MW = 0.0 6.7 6.7
    SCRIPT = $BIN_PATH/rf_genray.py

[monitor_comp]
# Machine dependent config info
    BIN_PATH = $COMPONENTS_ROOT/ips-monitor/
    SCRIPT = $BIN_PATH/monitor_comp.py
# Static config info
    CLASS = util
    SUB_CLASS =
    NAME = monitor
    NPROC = 1
    W3_DIR = $USER_W3_DIR
    W3_BASEURL = $USER_W3_BASEURL
    GENERATE_PDF = False 
    INPUT_DIR =
    INPUT_FILES =
    OUTPUT_FILES = monitor_file.nc $CURRENT_STATE
    STATE_FILES = $CURRENT_STATE
    RESTART_FILES = $INPUT_FILES monitor_restart monitor_file.nc

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = $START_TIME # Float or $RESTART_TIME
    FINISH = 196. # Float or $RESTART_TIME + float
    NSTEP = 1

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = PHYSTIME_REGULAR
   PHYSTIME_INTERVAL = 1.0
   NUM_CHECKPOINT = -1
